[Unit]
Description=autoreboot

[Service]
WorkingDirectory=/home/user/minecraft

User=user
Group=user

Type=oneshot
RemainAfterExit=no

ExecStart=./autorestart.sh
# stop.shに再起動は含まれていないが、終了するとminecraft.serviceにより再起動される

[Install]
WantedBy=multi-user.target
