[Unit]
Description=Announcing Minecraft Server Stop
After=syslog.target

[Service]
Type=oneshot

ExecStart=/usr/bin/screen -S minecraft -X eval 'stuff "say 5分後にサーバーを停止します。退出準備をお願いします。"\015'

[Install]
WantedBy=multi-user.target
